page-home {
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,500,700');

    ion-content {
        margin-top: 0em;
    }


    .bg-top-container {
        position: sticky;
        z-index: -1;
        top: -3.3em;
        margin-top: -3.3em;
        width: 100%;
        height: 22em;
        background-image: url('../assets/imgs/background.png');
        background-size: cover;
    }

    .bg-top {
        width: 100%;
        height: 100%;
    }

    .main-title-container {
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 8em;
    }

    .main-title {
        //margin-top: 0em;
        color: white;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-left: 5%;
    }

    .description {
        color: white;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 200;
        font-size: 1em;
        margin-left: 5%;
        margin-top: 0;
        line-height: 1.4em;

    }

    .main-body{
        padding-top: 2.5em;
        width: 100%;
        margin-top: -2.2em;
        background: white;
        border-radius: 2.5em 2.5em 0 0;
    }

    .body-section{
        //margin-top: 2.5em;
        margin-bottom: 3.5em;
    }

    .popular-faculties {
        margin-bottom: 2em;
    }

    .side-title {   
        margin-left: 1em;
        margin-bottom: 0.7em;
        // font-family: 'Fira Sans', sans-serif;
        font-weight: 700;
        color: #2b2b2b;
    }

    .slider {
        height: 11em;
        width: 100%;
    }

    .slide {
        margin-left: 1em;
        margin-bottom: 0em;
        border-radius: 15px;
        height: 7.5em;
    }

    .slide-container {
        margin-left: 0;
    }

    .slide-text {
        padding-left: 0.5em;
        padding-right: 0.5em;
        color: white;

        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
    }

    .icon {
        font-size: 2.5em;
        color: white;

    }

    .color1 {
        background-image: linear-gradient(-55deg, #f68084, #9191ff);
        //box-shadow: 0px 15px 15px -10px rgba(174, 42, 207, 0.267);
        box-shadow: 0px 16px 15px -10px rgb(245, 186, 220);
    }

    .color2 {
        background-image: linear-gradient(-55deg, #f9f047, #0fd8c7);
        box-shadow: 0px 16px 15px -10px #acf197;
    }

    .color3 {
        background-image: linear-gradient(-55deg, #f6d365, #fa8968);
        box-shadow: 0px 16px 15px -10px #ffcf95;
    }

    .color4 {
        background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
        box-shadow: 0px 16px 15px -10px #ffd2d1;
    }

    .color5 {
        background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
        box-shadow: 0px 16px 15px -10px #80eed2;
    }

    .main-color-theme {
        background-image: linear-gradient(-55deg, #9191ff, #53cbf8);
        box-shadow: 0px 23px 20px -13px #9cc7ff;
    }

    .asistent-container {
        width: 100%;
        height: 13em;
        margin-bottom: 1.5em;
    }

    .asistent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 85%;
        height: 100%;
        border-radius: 15px;
        cursor: pointer;
    }

    .asistent-text {
        // position: absolute;
        width: 80%;
        height: auto;
        margin-left: 0.5em;
    }

    .asistent-icon {
        font-size: 3.3em;
        margin-right: 0.5em;
    }

    .bg-chat {
        //background-image: linear-gradient(-55deg, #9191ff, #53cbf8);
        background: whitesmoke;
    }

    .chat-bubble {
        width: 100%;
        min-height: 2.5em;
        overflow: auto;
    }

    .list-md {
        margin: 0;
    }

    .chat-bubble-container {
        min-height: 2.5em;
        min-width: 30%;
        max-width: 80%;
        padding: 0 1.2em;
        margin-top: 0.8em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .dreapta {
        float: right;
        background: #9191ff;
        box-shadow: 0 10px 20px -15px #6164ff;
        border-radius: 20px 20px 5px 20px;
        margin-top: 1.5em;
        margin-bottom: 1em;
        .chat-text { 
            color: white;
        }
    }

    .stanga {
        clear: left;
        float: left;
        background: #e6e6e6;
        border-radius: 5px 20px 20px 20px;
        //box-shadow: 0 7px 10px -10px #999999;
        .chat-text {
            color: #1b1b1b;
        }
    }

    .selectie-content {
        background: url('../assets/imgs/bg-search.png');
        background-repeat: no-repeat;
        background-size: 100% 55em;
        background-attachment: fixed;
    }

    .tab {
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        margin-bottom: 2em;
    }

    .card-details{
        display: flex;
        justify-content: space-between;
    }

    .percentage-container{        
        width: 30%;
        padding: 0.6em 0 0.2em 0;
        text-align: center;
        border-radius: 2em;
    }

    .max-gradient {
        background-image: linear-gradient(45deg, #ff7777 0%, #ffd18b 99%, #fad0c4 100%);
    }

    .medium-gradient {
        background-image: linear-gradient(40deg, #a18cd1 0%, #fbc2eb 100%);
    }

    .percentage-container h3, .percentage-container h1{
        color: white;
    }

}
